/// Styles the dialogs.
/// The styling is shared between the different windows.

.mxfeedback-input {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    width: $mxfeedback-dialog-width;
    max-width: calc(100% - #{$mxfeedback-dialog-spacing});
    max-height: calc(100% - #{$mxfeedback-dialog-spacing});
    background-color: $bg-color-secondary;
    border-radius: $border-radius-default;
    box-shadow: $mxfeedback-shadow-small $mxfeedback-shadow-color;
    overflow: hidden auto;
    z-index: $mxfeedback-z-index-underlay;

    .modal-header {
        border-bottom: unset;
        margin-top: 1rem;
        padding-top: 1rem !important;
        padding-left: 3rem !important;

        &.modal-header > h4 {
            font-size: $font-size-large;
            font-weight: $font-weight-semibold;
            line-height: 120%;
            color: $font-color-default;
            align-self: center;
        }
    }
}
